# Core functionality - changes here should be rare!
/src/app.py                   @sisminnmaw
/src/backend/database.py      @sisminnmaw
/src/backend/routers/auth.py  @sisminnmaw

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sisminnmaw
